# macOS
.DS_Store

# LaTex
*.toc
*.out
*.synctex.gz
*.log
*.aux
*.fdb_latexmk

# Bib(La)Tex / Biber
*.bbl
*.blg
*.bcf
*.fls
*.run.xml
*-blx.bib

# Output
*.pdf
1320989187/

ocr/nebel.ocr.tex
ocr/nebel.txt
ocr/1320989187-ocr
